@{
    ViewData["Title"] = @ViewBag.Juego.Nombre;
    string urlCss = "~/css/" + ViewBag.Juego.Nombre + ".css";
    string urlJS = "/js/" + ViewBag.Juego.Nombre + ".js";
}
<link rel="stylesheet" href="@Html.Raw(urlCss)" asp-append-version="true" />
<input type="number" value="@ViewBag.Juego.Nombre" id="idJuego" hidden>
<div id="@ViewBag.Juego.Nombre"></div>

<script type="text/javascript" src="@Html.Raw(urlJS)"></script>